.main-table{
    width: 500px;
    border-collapse: collapse;
    border: 3px solid black;
}
.main-table__caption{
    font-size: 36px;
    font-weight: bold;
}
.main-table__th, .main-table__td{
    font-size: 18px;
    width: 33,3%;
    color: black;
    text-align-last: left;
}
.main-form{
    width: 500px; 
}
.main-form__submit{
    width: 100%;
}
.main-form__input{
    width: 154px;
    margin-left: 3px;
}
.main-form__input:first-child{
    margin-left: 0;
}
.id{
    display: none;
}
.green{
    background-color: green;
}